NPVCalculator/Service References/CalcService/CalculationService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/NPVCalculator.Services" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/NPVCalculator.Services" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfCashflow">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Cashflow" nillable="true" type="tns:Cashflow" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCashflow" nillable="true" type="tns:ArrayOfCashflow" />
  <xs:complexType name="Cashflow">
    <xs:sequence>
      <xs:element minOccurs="0" name="AmountPerPayment" type="xs:decimal" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NumberOfPayments" type="xs:int" />
      <xs:element minOccurs="0" name="PaymentIntervalInMonths" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Cashflow" nillable="true" type="tns:Cashflow" />
  <xs:complexType name="NetPresentValue">
    <xs:sequence>
      <xs:element minOccurs="0" name="Amount" type="xs:decimal" />
      <xs:element minOccurs="0" name="DiscountRate" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="NetPresentValue" nillable="true" type="tns:NetPresentValue" />
</xs:schema>